<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.connectiiest">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_smartphone"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ConnectIIEST">
        <activity android:name=".UserProfileActivity" android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".ProfileActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignInActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>